{% extends 'base_results.html' %}
{% load static %}
{% block results %}
<script src="{% static 'ngl.js' %}"></script>
<script src="{% static 'js/structure_search/show_superposition.js' %}"></script>
{% url 'download_gtalign_input_given_result_no' job_id=job.name result_no=result_no as input_structure_url %}
{% url 'download_gtalign_aligned_reference_structure' structure_search_job_id=job.name result_no=result_no hit_no=hit_no as aligned_structure_url %}
<h1>Aligned structures</h1>
<p><span style="display:inline-block; background-color:red; width:1em; height:1em"></span> Query structure (<a href="{{ input_structure_url }}" download>download</a>)</p>
<p><span style="display:inline-block; background-color:blue; width:1em; height:1em"></span> Reference structure (<a href="{{ aligned_structure_url }}" download>download</a>)</p>
<div id="aligned_structure" class="structure_viewer">
    <script>show_structures("{{ input_structure_url }}", "{{ aligned_structure_url }}", "aligned_structure");</script>
</div>
{% endblock %}
