{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load site_tags %}
<div class="help_page">
<h1>COMER web server</h1>
<p>COMER web server has been developed at the <a href="https://bioinformatics.lt">Department of Bioinformatics</a> of the <a href="http://www.ibt.lt">Institute of Biotechnology</a> (<a href="https://gmc.vu.lt">Life Sciences Center</a>, <a href="https://www.vu.lt">Vilnius University</a>).</p>
<p>This website is free and open to all users and there is no login requirement.</p>
<h2 id="browser_compatibility">Browser compatibility</h2>
<p>The COMER web server has been tested and functions correctly on the following browsers.</p>
<table class="table table-striped table-sm w-auto">
    <thead><tr>
        <td>OS</td>
        <td>Chrome</td>
        <td>Firefox</td>
        <td>Microsoft Edge</td>
        <td>Safari</td>
    </tr></thead>
    <tbody>
        <tr>
            <td>Linux</td>
            <td>96</td>
            <td>94</td>
            <td>n/a</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>MacOS</td>
            <td>96</td>
            <td>94</td>
            <td>n/a</td>
            <td>13</td>
        </tr>
        <tr>
            <td>Windows</td>
            <td>96</td>
            <td>94</td>
            <td>92</td>
            <td>n/a</td>
        </tr>
    </tbody>
</table>
<h2 id="data_and_software">Software and Data Availability</h2>
<p>
COMER web server is fully open source.
The source code of the {{ 'chemikeris/comer_web'|github_link:"frontend web server" }} and the {{ 'minmarg/comer-ws-backend'|github_link:"backend computation server" }} is freely available.
The {{ "minmarg/comer2"|github_link:"COMER2" }} GPU-accelerated sensitive and specific protein remote homology search is open source too and is available for as stand-alone software for local use.
</p>
{% comment %}
<p>The component tools are open source too and available for download as stand-alone software for local use:</p>
<ul>
	<li>{{ "minmarg/comer2"|github_link:"COMER2" }}: GPU-accelerated sensitive and specific protein remote homology search</li>
	<li>{{ "minmarg/cother"|github_link:"COTHER" }}: GPU-accelerated protein remote homology search by threading</li>
	<li>{{ "minmarg/ropius0"|github_link:"ROPIUS0" }}: inter-residue distance map prediction</li>
</ul>
{% endcomment %}
<p>Links to COMER2 {% comment %}and COTHER {% endcomment %}profile databases are provided on their website.</p>
<h2 id="cite_us">Cite us</h2>
<p>If COMER web server is useful for your research, please cite our articles.<p>
<p>The remote homology search method COMER was published in the following articles:</p>
<ul>
    <li>Margelevičius M. Bayesian nonparametrics in protein remote homology search. Bioinformatics. 2016;32(18):2744-52,
        DOI: <a href="https://doi.org/10.1093/bioinformatics/btw213">10.1093/bioinformatics/btw213</a>,
        PMID: <a href="https://pubmed.ncbi.nlm.nih.gov/27153649/">27153649</a>.
    </li>
    <li>Margelevičius M. COMER2: GPU-accelerated sensitive and specific homology searches. Bioinformatics. 2020;36(11):3570-3572,
        DOI: <a href="https://doi.org/10.1093/bioinformatics/btaa185">10.1093/bioinformatics/btaa185</a>,
        PMID: <a href="https://pubmed.ncbi.nlm.nih.gov/32167522/">32167522</a>.
    </li>
</ul>
<h2 id="contacts">Contacts</h2>
<p>For enquiries please email us at mindaugas.margelevicius@bti.vu.lt or justas.dapkunas@bti.vu.lt.
<h2 id="funding">Funding</h2>
<p>This work was supported by the European Regional Development Fund [01.2.2-LMT-K-718-010028] under a grant agreement with the Research Council of Lithuania (LMTLT).</p>
<img src="{% static 'img/about/ESFIVP-I-3.jpg' %}" alt="EU Funds">
</div>
{% endblock %}
