{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load site_tags %}
<script>nice_json = function(obj, div_id) {e = document.getElementById(div_id); e.innerHTML = JSON.stringify(obj, undefined, 4);}</script>
<div class="help_page">
<h1>COMER web service API help page</h1>
<h2>Table of contents</h2>
<ol class="multilevel_numbered_list">
    <li><a href="#api_help_command_line_interface">Command-line interface to services</a>
        <ol>
            <li><a href="#api_help_conducting_homology_search">Conducting a homology search</a></li>
            <li><a href="#api_help_specifying_options">Specifying options</a></li>
            {% comment %}<li><a href="#api_help_cother_search">COTHER search</a></li>{% endcomment %}
            <li><a href="#api_help_uploading">Uploading data files</a></li>
            <li><a href="#api_help_querying_status">Querying job status</a></li>
            <li><a href="#api_help_retrieving">Retrieving results</a></li>
        </ol>
    </li>
    <li><a href="#api_help_programmatic_access">Programatic access to services</a></li>
    <li><a href="#api_help_graphical_environment">Results in the graphical environment</a></li>
</ol>
<h2 id="api_help_command_line_interface">Command-line interface to services</h2>
<h3 id="api_help_conducting_homology_search">Conducting a homology search</h3>
<p>The simplest way to conduct a COMER2 search from the command line with a sequence query (e.g., "TKPCQSDKDCKKFACRKPKVPKCINGFCKCVR") and default settings against the default database, which is a PDB70 profile database, is to issue the following command:</p>
<p><code>curl https://{{ request.get_host }}{% url 'api_submit' %} -F sequence=TKPCQSDKDCKKFACRKPKVPKCINGFCKCVR</code></p>
<p>The communication between the client (the user side) and the server is asynchronous.
Connections are non-blocking, and the server always responds with a string in JSON format.
On success, the first field ("success": true) indicates no errors, and the second field ("job_id": "MyJobID") specifies the ID ("MyJobID" in this example) of the submitted job. This job ID is used for communication with the server:</p>
<code><pre id='submit_json_success'></pre></code>
<p>If the submission of a job fails, a response string will indicate an error and contain a reason message:</p>
<code><pre id='submit_json_failure'></pre></code>
<script>
    nice_json({"success": true, "job_id": "MyJobID"}, 'submit_json_success');
    nice_json({"success": false, "form_errors": {"__all__": ["Please provide query in the text field or file with queries."]}}, 'submit_json_failure');
</script>
<h3 id="api_help_specifying_options">Specifying options</h3>
<p>The COMER web server API allows for specifying all options that are available in the graphical user interface.
The syntax for specifying different options using curl is as follows: -F option1_name=option1_value -F option2_name=option2_value ...
The names of available options, along with their description, can be found in the <a href="{% static 'demo/job.options' %}">COMER{% comment %}/COTHER{% endcomment %} settings file</a>.</p>
<p>In the following example, a COMER2 search is configured with a statistical significance threshold of E-value=0.0001, which means that hits detected with a significance greater than this value will not be displayed.
Also, HMMER3 replaces HHblits for sequence search when building an MSA for the query (see the {% help_link %}):</p>
<p><code>curl https://{{ request.get_host }}{% url 'api_submit' %} -F sequence=TKPCQSDKDCKKFACRKPKVPKCINGFCKCVR -F EVAL=0.0001 -F hmmer_in_use=true -F hhsuite_in_use=false</code></p>
<p>Multiple COMER2 profile databases can be selected for searching using COMER2 by specifying the corresponding option once for each database name.
The following example instructs the server to search the PDB70, Pfam, and UniProtKB/Swiss-Prot COMER2 profile databases:</p>
<p><code>curl https://{{ request.get_host }}{% url 'api_submit' %} -F sequence=TKPCQSDKDCKKFACRKPKVPKCINGFCKCVR -F comer_db={{ short_db_names.COMER.0 }} -F comer_db={{ short_db_names.COMER.1 }} -F comer_db={{ short_db_names.COMER.2 }}</code></p>
<p>The names of the up-to-date databases are provided here:</p>
<ul>
{% for program, databases in db.items %}
    <li>For {{ program }}:
        {{ databases }}
    </li>
{% endfor %}</p>
</ul>
{% comment %}
<h3 id="api_help_cother_search">COTHER search</h3>
<p>For conducting a COTHER homology search by threading, specify the command-line option: -F use_cother=true.
For example:</p>
<p><code>curl https://{{ request.get_host }}{% url 'api_submit' %} -F sequence=TKPCQSDKDCKKFACRKPKVPKCINGFCKCVR -F use_cother=true -F cother_db=pdb70_210609</code></p>
{% endcomment %}
<h3 id="api_help_uploading">Uploading data files</h3>
<p>The command-line option "-F sequence=" corresponds to the main text field (for entering queries) in the graphical user interface and accepts queries of different types and in different formats (see the {% help_link %}).
For a larger number of queries given, it is much more convenient to provide the server with the input file instead of entering the data in the command line.</p>
<p>Let us assume that one or more queries are stored locally in file /path/to/my/directory/queries.input, and  <a href="{% static 'demo/job.options' %}">options</a> are located in file /path/to/my/directory/job.options.
Then, use the following command to submit a job with input data to be read from these files:</p>
<p><code>curl https://{{ request.get_host }}{% url 'api_submit' %} -F input_query_file=@/path/to/my/directory/queries.input -F input_search_parameters_file=@/path/to/my/directory/job.options</code></p>
<h3 id="api_help_querying_status">Querying job status</h3>
<p>Once the job is submitted, query job status asynchronously by typing:</p>
<p><code>curl https://{{ request.get_host }}{% url 'api_job_status' job_id='MyJobID' %}</code></p>
<p>where MyJobID is the job ID returned by the submit command (see Conducting a homology search).
A typical successful response from the server is the following:</p>
<code><pre id="job_status"></pre></code>
<script>nice_json({"success": true, "job_id": "MyJobID", "status": "queued", "search_method": "COMER", "log": "Submitting...\nQueued.\nRunning...\n"}, 'job_status');</script>
<p>which shows that the submission was successful ("success": true) and the job is running ("status": "queued").
Once the job finishes running, the status in the response string will be "finished" ("status": "finished").
If errors have occurred, the status field will be "failed" ("status": "failed") or an error message if the submission failed ("success": false).</p>
<h3 id="api_help_retrieving">Retrieving results</h3>
<p>The following command is used to retrieve from the server the resulting profile-profile alignments in JSON format, associated with job MyJobID:</p>
<p><code>curl https://{{ request.get_host }}{% url 'api_results_json' job_id='MyJobID' %}</code></p>
<p>If it is issued during the execution of the job, the results will be empty ("results": []), the number of successfully processed queries will be 0 ("number_of_successful_queries": 0), and the status will indicate the process being in progress ("status": "queued"):</p>
<code><pre id="results_json_empty"></pre></code>
<script>nice_json({"success": true, "job_id": "MyJobID", "status": "queued", "search_method": "COMER", "error_log": "", "number_of_input_queries": 5, "number_of_successful_queries": 0, "results": [], "web_url": "/search/results/MyJobID"}, 'results_json_empty');</script>
<p>The profile-profile alignments along with intermediate results, including initial queries, constructed MSAs and profiles, and log files, are also available as a single compressed zip file:</p>
<p><code>curl https://{{ request.get_host }}{% url 'api_results_zip' job_id='MyJobID' %}</code></p>
<p>The input data, the options of the job, and the job progress information can be retrieved separately using the following commands:</p>
<p><code>curl https://{{ request.get_host }}{% url 'api_job_input' job_id='MyJobID' %}</code></p>
<p><code>curl https://{{ request.get_host }}{% url 'api_job_options' job_id='MyJobID' %}</code></p>
<p><code>curl https://{{ request.get_host }}{% url 'api_job_error' job_id='MyJobID' %}</code></p>
<h2 id="api_help_programmatic_access">Programmatic access to services</h2>
<p>The COMER web server provides programmatic access to running homology searches using the server's computational resources.
An example Python script that conducts a COMER2 search with a sequence query and default settings, waits for results, and prints them on standard output is  <a href="{% static 'demo/api_demo.py' %}">available here</a>.</p>
<h2 id="api_help_graphical_environment">Results in the graphical environment</h2>
<p>The COMER web server maintains a unified job control system.
Jobs submitted using the command-line or programmatic interface are also valid for inspection in the graphical user environment as if they were submitted on the server's main page.</p>
<p>Given job ID MyJobID, visit the results page at:</p>
<p><code>https://{{ request.get_host }}{% url 'results' job_id='MyJobID' %}</code></p>
</div>
{% endblock %}
