{% extends 'base.html' %}
{% block content %}
{% load static %}
<h1>Software and data availability</h1>
<p>COMER web server is fully open source.
The source code will be available for both frontend web server and backend calculation server.</p>
<p>The components are also available:</p>
<ul>
    <li><a href="https://github.com/minmarg/comer2">COMER2</a>: remote homology search on GPUs</li>
    <li><a href="https://github.com/minmarg/cother">COTHER</a>: fast and accurate threading and homology search tool</li>
    <li><a href="https://github.com/minmarg/ropius0">ROPIUS0</a>: inter-residue distance map prediction</li>
</ul>
<p>Links to COMER2 and COTHER profile databases are provided on their respective websites.</p>
{% endblock %}
