{% extends 'base.html' %}
{% block content %}
<p>COMER web server is dedicated for fast and sensitive homology detection.</p
<p>To start searching, <a href="{% url 'input' %}">input your query</a>.</p>
<p>You may first analyse the <a href="{% url 'results' 'example' %}">example results</a>.</p>
<p><a href='help'>Help</a> and <a href='api_help'>search API help</a> pages are available.</p>
<p>If the server is useful for your research, please <a href="{% url 'references' %}">cite us</a>.</p>
{% endblock %}
