{% extends 'base.html' %}
{% block content %}
{% load static %}
<h1>References</h1>
<p>If COMER web server is useful for your research, please cite our articles.<p>
<p>The remote homology search method COMER has been published in the following articles:</p>
<ul>
    <li>Margelevičius M. Bayesian nonparametrics in protein remote homology search. Bioinformatics. 2016;32(18):2744-52,
        DOI: <a href="https://doi.org/10.1093/bioinformatics/btw213">10.1093/bioinformatics/btw213</a>,
        PMID: <a href="https://pubmed.ncbi.nlm.nih.gov/27153649/">27153649</a>.
    </li>
    <li>Margelevičius M. COMER2: GPU-accelerated sensitive and specific homology searches. Bioinformatics. 2020;36(11):3570-3572,
        DOI: <a href="https://doi.org/10.1093/bioinformatics/btaa185">10.1093/bioinformatics/btaa185</a>,
        PMID: <a href="https://pubmed.ncbi.nlm.nih.gov/32167522/">32167522</a>.
    </li>
</ul>
{% endblock %}
