.*
!.gitignore
virtualenv
tmp*
*.bak
__pycache__
*.pyc
*.sqlite3
passwords.py
debug.py
custom_servers.ini
search_databases.ini
migrations
comer_web/settings/comer_ws_backend.py
static/*.js
!static/msa.min.js
