#schematic_sequences {
    margin-left: 1em;
    margin-right: 1em;
}
.sequence_scheme {
    text-align: center;
    border-bottom: solid 0.2em white;
}
.sequence_scheme a {
    display: block;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.sequence_alignment {
    font-family: monospace;
    white-space: pre;
    margin-top: 0;
    margin-bottom: 0;
}
.structure_viewer {
    width: 400px;
    height: 400px;
}
.errorlist {
    padding: inherit;
}
.errorlist li {
    list-style-type: none;
    color: red;
    border: 1px solid red;
}
noscript {
    font-weight: bold;
    background-color: yellow;
    border: 1px solid black;
    display: block;
    padding: 3px;
}
#top_button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    background-color: white;
    width: 40px;
    height: 40px;
}
