{% load i18n %}
<div id="CookielawBanner">
    <div class="container-fluid fixed-bottom p-3 text-center bg-dark opacity-75 text-light">
        <p>
            This site uses cookies to enhance the user experience and for statistical purposes. Our privacy policy is <a href="https://bioinformatics.lt/privacy/">available here</a>.
            <a class="btn btn-primary pull-right" href="javascript:Cookielaw.accept();">Accept</a>
            <a class="btn btn-primary pull-right reject" href="javascript:Cookielaw.reject();">Decline</a>
        </p>
        <p>Note: necessary session cookies are used to ensure proper functioning and cannot be switched off.</p>
    </div>
</div>
