 <!DOCTYPE html>
<html>
<head>
<title>COMER web server</title>
{% load static %}
<link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/site.css' %}">
<link rel="icon" type="image/png" href="{% static 'img/comer_server.png' %}">
<script src="{% static 'js/site.js' %}"></script>
{{ google_analytics_tag }}
</head>
<body>
<noscript>COMER web server requires JavaScript, which is disabled in your browser.</noscript>
<div class="d-flex flex-column min-vh-100">
<header>
    <nav class="navbar navbar-light navbar-expand-md bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/comer_server.png' %}" alt="C" height="30">COMER web server</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleMainMenu"><span class="navbar-toggler-icon"></span></button>
        <div id="collapsibleMainMenu" class="collapse navbar-collapse"><ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'input' %}">Input</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'results' 'example' %}">Example</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'help' %}">Help</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'api_help' %}">API help</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'tutorial' %}">Tutorial</a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">About</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'about' %}">General information</a></li>
                    <li><a class="dropdown-item" href="{% url 'about' %}#browser_compatibility">Browser compatibility</a></li>
                    <li><a class="dropdown-item" href="{% url 'about' %}#data_and_software">Data and software</a></li>
                    <li><a class="dropdown-item" href="{% url 'about' %}#cite_us">Cite us</a></li>
                    <li><a class="dropdown-item" href="{% url 'about' %}#contacts">Contacts</a></li>
                    <li><a class="dropdown-item" href="{% url 'about' %}#funding">Funding</a></li>
                </ul>
            </li>
            <li class="nav-item" id="funding_link"><a href="{% url 'about' %}#funding" class="nav-link">ERDF support<img src="{% static 'img/about/ESFIVP-I-3.jpg' %}" alt="EU Funds" class="image_funding_small"></a></li>
        </ul></div>
    </div>
    </nav>
</header>
<div id="content" class="container-fluid">{% block content %}{% endblock %}</div>
<footer class="mt-auto text-center bg-light">
    &copy; Department of Bioinformatics, Institute of Biotechnology, Life Sciences Center, Vilnius University | <a href="http://www.bioinformatics.lt">bioinformatics.lt</a>
</footer>
<button onclick="goToTop()" id="top_button" title="Go to top"><img src="{%  static 'img/icons/arrow-up-circle.svg' %}" width="100%"></button> 
</div>
</body>
</html>
